*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #000;
}
nav{
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 30%;
    /* background-color: aqua; */
    padding-left: 20px;
}
.logo h1{
    text-transform: uppercase;
    color: white;
}
.menu{ 
    width: 60%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.img{
    width: 200px;
    height: 300px;
    background-image: url(./unp.jpg);
    background-position: center;
     background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    left: 40%;
}
.img1{
    width: 200px;
    height: 300px;
    background-image: url(./unp.jpg);
    background-position: center;
     background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    left: 40%;
    display: inline-block;
    transform: rotate(20deg);

}
.img3{
    width: 200px;
    height: 300px;
    background-image: url(./unp.jpg);
    background-position: center;
     background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    left: 40%;
    display: inline-block;
    transform: rotate(10deg);

}
.word h1{
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 40%;
    right: 53%;
    z-index: 99;
}
.word h2{
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 45%;
    right: 44%;
    z-index: 99;

}
.word h3{
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 50%;
    right: 54%;
    z-index: 99;

}
.bg h1{
    position: absolute;
    top: 91%;
    right: 83%;
    text-transform: uppercase;
    color: white;

}
.bg p{
    position: absolute;
    top: 91%;
    right: 44%;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
}
.bg h2{
    position: absolute;
    top: 91%;
    right: 10%;
    text-transform: uppercase;
    color: white;

}
